	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
        <ul class="nav navbar-nav pull-left">
          <li>
          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="Menu">
          		<span class="sr-only">Toggle navigation</span>
          	  <span class="fa fa-bars"></span>	              	
          	</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
          	<%= link_to new_pin_path, method: :get, class: "new-tone", title: "New" do %>
						 		<span class="fa fa-plus"></span> 
						<% end %>
          </li>
        </ul>    
		    <%= link_to root_path, class: "navbar-brand" do %>
		    	<!--<img src="/assets/Eleven-Logo2.svg" alt="Eleven" title="Eleven">-->
		    	<%= image_tag "Eleven-Logo2.svg" %>
		    <% end %>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav navbar-right">
		      <li>
		      	<%= link_to root_path, do%>
		      		<span class="fa fa-home fa-fw icon-lg"></span> 
		      		<span class="text">Home</span>
						<% end %>
		      </li>	      
		      <li>
		      	<%= link_to root_path do%>
		      		<i class="fa fa-search fa-fw icon-lg"></i> Discover
						<% end %>
		      </li>
		      <% if user_signed_in? %>
		      	<li>
		      		<%= link_to root_path do%>
		      			<i class="fa fa-book fa-fw icon-lg"></i> Library
							<% end %>
		      	</li>
		      	<li>
		      		<%= link_to edit_user_registration_path do %>		      		
		      			<i class="fa fa-user fa-fw icon-lg"></i> Profile							
							<% end %>
		      	</li>
		      	<!--<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>-->
		      <% else %>
		      	<li>
		      		<%= link_to new_user_session_path do %>		      			
		      			<i class="fa fa-arrow-right fa-fw icon-md"></i> Sign In
		      		<% end %>
		      	</li>
		      <% end %>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</div>
	</nav>